.menu-content{
    display: inline-block;
    width: 75%;
}
.action-content{
    display: inline-block;
    width: 25%;
    text-align: right;
}
.mat-toolbar.mat-primary{
    background-color: #35938b !important;
}